<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vgagnon.yevos">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Diebold_Call_In"
            android:label="Diebold"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Multitech_Call_In"
            android:configChanges="orientation|screenSize"
            android:label="Multitech" />
        <activity android:name=".multitechPiece" />
        <activity
            android:name=".AideMemoireDiebold"
            android:label="@string/title_activity_aide_memoire_diebold"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireMultitech"
            android:label="@string/title_activity_aide_memoire_multitech"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireCPU"
            android:label="@string/title_activity_aide_memoire_cpu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireCompucom"
            android:label="@string/title_activity_aide_memoire_compucom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireCompugen"
            android:label="@string/title_activity_aide_memoire_compugen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireMaxwell"
            android:label="@string/title_activity_aide_memoire_maxwell"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireMSC"
            android:label="@string/title_activity_aide_memoire_msc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireNCR"
            android:label="@string/title_activity_aide_memoire_ncr"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireProgitech"
            android:label="@string/title_activity_aide_memoire_progitech"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AideMemoireRicoh"
            android:label="@string/title_activity_aide_memoire_ricoh"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>